.webgl-view
  .decor
    //width: 100%
    //max-height: 80vh
    //overflow: auto
    .form-horizontal
      padding: 10px 0
    button
      display: none
      float: left
      &.active
        display: block
    .decor-list
      display: flex
      width: 100%
      .without-mat
        &:hover
          img
            -webkit-box-shadow: 0px 10px 20px 0px rgba(219, 0, 7, 0.3)
            -moz-box-shadow: 0px 10px 20px 0px rgba(219, 0, 7, 0.3)
            box-shadow: 0px 10px 20px 0px rgba(219, 0, 7, 0.3)
      div
        display: inline
        width: 30%
        padding: 10px
        cursor: pointer
        &:hover
          img
            -webkit-box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.3)
            -moz-box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.3)
            box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.3)
        img
          width: 100%
    .decor-set
      width: 100%
      .canvas-container
        background-position: center
        background-size: contain
        background-repeat: no-repeat
      canvas
        margin: auto
        border: 1px solid