@import "./checkbox"
@import "./range"
.webgl-view
  height: 80vh
  *
    transition: none
  @import './tooltip'



  .details-select
  //position: absolute
  //right: 10%
  //padding: 10px
  //border: 1px solid black
  .panel-white > .panel-heading
    border-bottom: 1px solid #ddd
  .fullscreen
    position: absolute
    right: 20px
    bottom: 20px
    transform: scale(2)
    top: auto
    color: rgba(0, 0, 0, 0.5)

  .icon-rulers
    position: absolute
    right: 70px
    bottom: 20px
    cursor: pointer
    transform: scale(2)
    top: auto
    color: rgba(0, 0, 0, 0.5)

  .scren-shot-btn
    display: none
    position: absolute
    right: 10px
    bottom: 100px
  .THREEJS
    position: absolute
    width: 100%
    height: 100%
    left: 0
    top: 0
    .logo
      position: absolute
      bottom: 0
      left: 0
      height: 100px
      width: auto
      padding: 20px
  .modal-open .modal
    background-color: rgba(0, 0, 0, 0.5)
  .img[src=""]
    display: none
  .canvas-container
    margin: auto
  .materials-list
    overflow: auto
    height: 70vh
  .model-parts.nav.nav-tabs
    display: -webkit-box
    border: none
  .acc-list
    overflow-y: auto
    overflow-x: hidden
    max-height: 40vh
  .info
    position: absolute
    margin: auto
    top: 0
    padding: 20px
    width: 100%
    b
      font-weight: 900
  .decor-drop
    position: absolute
    z-index: 1
  .repeat-s
    display: none
  *
    -moz-user-select: -moz-none
    -khtml-user-select: none
    -webkit-user-select: none
    -ms-user-select: none
    user-select: none
  .view-text
    display: -webkit-box
    margin: auto
  .thumb:not(.thumb-rounded) img
    max-height: 150px
  .tab-size-info
    background-color: rgb(89, 204, 170)
    bottom: 60px
    width: 180px
    height: auto
    position: absolute
    left: 10px
    color: #fff
    padding: 10px
    opacity: 0
    transform: scale(0)
    -ms-filter: "alpha(Opacity=0)"
    filter: alpha(opacity=0)
    text-align: left
    &.active
      transform: scale(1)
      opacity: 1