.webgl-view {
  .gl-tooltps {
    position: absolute;

    .gl-tooltp-item {
      position: absolute;
      width: 240px;
      display: none;
      padding: 10px;
      background: white;
      &.active {
        display: block;
      }
      img {
        float: left;
        width: 90px;
        height: 90px;
      }
      div {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        span {
          text-overflow: ellipsis;
          overflow: hidden;
          max-width: 120px;
          display: table-cell;
          padding: 10px;
        }
      }
    }
  }
}