$z-index: (
modal              : 9999,
navigation         : 100,
footer             : 90,
triangle           : 60,
navigation-rainbow : 50,
share-type         : 41,
share              : 40,
);

@function z-index($key) {
  @return map-get($z-index, $key);
}

@mixin z-index($key) {
  z-index: z-index($key);
}