.product-thumbnail li {
	width: 30px;
	padding-right: 0px;
	border: 1px solid #ccc;
	margin-right: 5px;
	margin-bottom: 5px;
}
.product-thumbnail.product-thumbnail-lg li {
	width: 70px;
	padding-right: 0px;
	border: 1px solid #ccc;
	margin-right: 5px;
	margin-bottom: 5px;
}
.product-thumbnail {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
.product-thumbnail li img {
	width: 68px !important;
	height: 68px !important;
	object-fit: contain;
}
.product-thumbnail li a.more-p, .product-thumbnail li a.more-p i {
	width: 68px !important;
	line-height: 68px;
	height: 68px !important;
	vertical-align: middle;
	display: inline-block;
}
.heart {
	position: absolute;
	top: 5px;
	right: 5px;
	font-size: 16px;
	color: #fff;
	background: rgba(0, 0, 0, 0.17);
	width: 25px;
	border-radius: 100%;
	height: 25px;
	text-align: center;
	padding: 7px 0;
	z-index: 9;
}
.heart a {
	color: #fff;
}
.heart .fa-heart, .heart.is-active .fa-heart-o {
	display: none;
}
.heart .fa-heart-o, .heart.is-active .fa-heart {
	display: block;
}
.heart.is-active a .fa-heart {
	color: #f00;
}
.quote-btn {
	color: #fff;
	background-color: #F44336;
	border-color: #F44336;
	border-radius: 100px;
	margin: 0px 5px;
}
.shopping-btn {
	color: #F44336;
	background-color: transparent;
	border-color: #F44336;
	border-radius: 100px;
	border-width: 2px;
	margin: 0px 5px;
}
[class^="fa-"], [class*=" fa-"] {
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	min-width: 1em;
	display: inline-block;
	text-align: center;
	font-size: 16px;
	vertical-align: middle;
	position: relative;
	top: -1px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.pad15 {
	padding: 15px;
}
.bgd-border-none {
	background-color: transparent !important;
	border: none;
}
.modal-dialog .thumbnail.border-width {
	border-width: 1px;
}
.sp-container {
	z-index: 999999;
}
.width-auto {
	width: auto !important;
}
.image-popup {
	position: absolute;
	top: 15px;
	right: 15px;
}
.thumbnail .category-title {
	border-bottom-color: #ddd;
}
.page-title {
	padding: 15px 36px 15px 0;
	float: left;
	width: 100%;
}
.page-title h4 {
	font-size: 24px;
}
.pro-title {
	border-bottom: 1px solid #ccc;
	padding-bottom: 5px;
	float: left;
	width: 100%;
}
.panel-body-accent .product-thumbnail li img {
	width: 33px !important;
	height: 33px !important;
	object-fit: contain;
}
.suggest-title {
	margin-bottom: 8px;
	margin-top: 0
}
.modal-footer {
	padding: 10px 20px
}
.pic-box {
	float: left;
}
.pic-box img {
	width: 100%;
}
.arrow-right {
	background-color: #37474f;
	box-shadow: 0 0 3px 2px rgb(55, 71, 79);
	height: 85px;
	left: -50px;
	position: absolute;
	top: -50px;
	width: 85px;
	-webkit-transform: rotate(-45deg);
}
.arrow-right span {
	color: #f5f5f5;
	font-family: sans-serif;
	font-size: 1.005em;
	left: 28px;
	top: 67px;
	position: absolute;
	width: 80px;
}
.something {
	overflow: hidden;
	position: relative;
}
.navbar-brand {
	padding: 29px 20px;
	height: auto;
}
.top-nav-cs {
	border: 0;
}
.top-nav-cs .navbar-nav > li > a {
	padding: 28px 10px;
}
.navbar-header {
	min-width: 185px;
}
.search-box {
	float: left;
	width: calc(100% - 640px);
	margin: 15px 0px;
	    position: relative;
    z-index: 999;
}
.search-box input{ color:#fff;}
.left {
	float: left;
}
.right {
	float: right;
}
.bordertop {
	border-top: 1px solid #ddd !important;
}
.float {
	float: left;
	width: 100%;
}
.page-header-content {
	z-index: 99;
	position: relative;
	float: left;
	width: 100%;
}
.slider-area.panel-heading {
	float: left;
	width: 100%;
	text-align: right;
	z-index: 999;
	position: absolute;
}
.prof-btn {
	font-weight: normal;
	touch-action: manipulation;
	cursor: pointer;
	padding: 7px 12px;
	font-size: 13px;
	line-height: 1.5384616;
	border-radius: 3px;
	border: 2px solid #607D8B;
	position: absolute;
	bottom: 15px;
	left: 15px;
	color: #37474F !important;
	background: #fff;
}
.modal-prof-btn {
	font-weight: normal;
	touch-action: manipulation;
	cursor: pointer;
	padding: 7px 12px;
	font-size: 13px;
	line-height: 1.5384616;
	border-radius: 3px;
	border: 2px solid #607D8B;
	position: absolute;
	bottom: 15px;
	left: 15px;
	color: #37474F !important;
	background: #fff;
}
.whiteback {
	background: #fff;
}
.thumbnail {
	position: relative;
	border: 2px solid #ddd!important;
	box-shadow: none;
}
.nopadd {
	padding: 0;
}
.sidebar-title {
	float: left;
	width: 100%;
}
.sidebar-title h4 {
	margin: 0 0 10px 0;
	font-size: 22px;
	font-weight: 600;
}
.price {
	float: left;
	width: 100%;
}
.price span {
	margin: 0 0 10px 0;
	font-size: 20px;
	font-weight: 600;
}
.thwidth tr td:first-child {
	width: 110px;
}
.cutsomthumb.thumbnail {
	padding: 5px;
	line-height: 0;
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 3px;
	-webkit-transition: border 0.2s ease-in-out;
	-o-transition: border 0.2s ease-in-out;
	transition: border 0.2s ease-in-out;
}
.custom-title {
	font-size: 20px!important;
	font-weight: 600;
}
.cutomizemodal .cprice {
	float: none;
	font-size: 20px;
	display: inline-block;
}
.cutomizemodal .customsize {
	margin: 0 10px 0 10px;
	display: inline-block;
}
.light-grey {
	background: #eee;
	display: inline-block;
	width: 100%;
}
.cutomizemodal .heading-btn {
	margin-left: 0 !important;
}
.custom-action {
	margin-right: 20px;
	display: inline-block;
	margin-left: 20px;
}
#showtag {
	display: block;
}
.item-box-price {
	text-align: right;
}
#showtag {
	float: left;
	width: 100%;
	background: #eee;
	position: absolute;
	left: 0;
	z-index: 999;
	padding: 10px;
	margin: 5px 0;
}
.nomargin {
	margin: 0!important
}
.custom-modal-body {
	padding: 10px;
	overflow-y: auto;
	background: #fbfafa;
	border: 1px solid #ddd;
	position: relative;
}
.bg-darkgrey {
	background: #37474f;
}
.modal-pad {
	padding: 15px 15px 15px 15px;
}
.modal-pad .panel-heading {
	padding: 8px 20px;
}
.viewer .watermark a {
	display: none !important;
}
.custom-modal-body .thumbnail h6 {
	font-size: 12px;
	min-height: 36px;
	padding: 0 2px;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}
.modal-noborder {
	display: inline-block;
	border-bottom: 1px dashed #1E88E5;
}
.custom-full-modal {
	width: 100%;
	margin: 0;
	height: 100%;
	position: fixed;
}
.popover-title {
	color: #8b8b8b;
}
.bootstrap-tagsinput input {
	color: #8b8b8b;
}
.cutomizemodal {
	position: relative;
	float: left;
	width: 100%;
	top: 0;
	left: 0;
	padding: 5px 0px;
	right: 0;
	height: auto;
	margin: 0 0px;
	box-sizing: border-box;
}
.modal-action {
	background-color: inherit;
	position: absolute;
	top: 50%;
	right: 20px;
	height: 36px;
	margin-top: -18px;
}
.cutomizemodal.heading-elements {
	display: block;
	text-align: center;
	background: #eee !important;
	position: absolute;
	width: 100%;
	float: left;
	bottom: 0;
	top: inherit;
	margin: 0!important;
}
.tab-height {
	overflow-y: auto;
}
.floatnone {
	float: none !important;
}
.addtag-input {
	margin-left: 10px;
}
.iframebody-area {
	POSITION: RELATIVE;
	float: left;
	width: 100%;
	height: 100%;
}
.modal-tabs .nav-tabs > li {
	float: left;
}
.noborder-radius {
	border-radius: 0 !important;
}
.modal-tabs .nav-tabs > li.active > a:after, .modal-tabs .nav-tabs > li.active > a:hover:after, .modal-tabs .nav-tabs > li.active > a:focus:after {
	content: '';
	position: absolute;
	top: -1px;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: #2196F3;
	height: 2px;
}
.modal-tabs .nav-tabs {
	position: relative;
	background-color: #fff;
	padding: 0px 0;
	border: 1px solid #ddd;
	border-radius: 0px;
	margin: 0;
	border-bottom: 0;
}
.list-carousel .carousel-control.left i {
	font-size: 16px;
	margin: -6px 0px 0 -34px;
	color: #000;
}
.list-carousel .carousel-control.right i {
	font-size: 16px;
	margin: -6px -34px 0 0;
	color: #000;
}
.padd2 {
	padding: 0 2px 0 2px;
}
.item-list-box-price {
	text-align: right;
	margin: 10px 0;
}
.price-box h5 {
	font-size: 16px;
	font-weight: 500;
	min-height: 50px;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}
.customlistingpanel {
	padding: 0;
}
.customlistingpanel img {
	width: 100% !important;
	max-width: inherit !important;
	border-radius: 0!important;
}
.hide-acc {
	display: none;
}
.font15 {
	font-size: 15px;
}
.carousel-control {
	width: 4%;
}
.carousel-control.right {
	margin-left: 0px;
	background-image: none;
	right: 5px;
}
.carousel-control.left {
	margin-left: 0px;
	background-image: none;
	left: 5px;
}
/*@media (max-width: 767px) {
	.carousel-inner .active.left { left: -100%; }
	.carousel-inner .next        { left:  100%; }
	.carousel-inner .prev		 { left: -100%; }
	.active > div { display:none; }
	.active > div:first-child { display:block; }

}
@media (min-width: 767px) and (max-width: 992px ) {
	.carousel-inner .active.left { left: -50%; }
	.carousel-inner .next        { left:  50%; }
	.carousel-inner .prev		 { left: -50%; }
	.active > div { display:none; }
	.active > div:first-child { display:block; }
	.active > div:first-child + div { display:block; }
}
@media (min-width: 992px ) {
	.carousel-inner .active.left { left: -16.7%; }
	.carousel-inner .next        { left:  16.7%; }
	.carousel-inner .prev		 { left: -16.7%; }	
}*/
.list-carousel .carousel-inner .item a {
	float: left;
	border: 1px solid #ddd;
}
.marg20 {
	margin-top: 20px;
}
.btnpadd {
	padding: 2px 6px;
}
.clickable-row {
	cursor: pointer;
}
.price-box {
	float: left;
	width: 100%;
	background: #eee;
	padding: 10px;
}
.style {
	margin-bottom: 10px !important;
}
.size {
	margin-bottom: 10px!important;
}
.mainslide.carousel {
	margin-bottom: 20px;
	overflow-x: hidden;
	top: -2px;
}
.mainslide.carousel-control {
	top: 76%;
}
.mainslide.carousel-caption {
	z-index: 10;
}
.mainslide.carousel .item {
	height: 485px;
	background-color: #bbb;
	overflow: hidden;
	float: left;
	width: 100%;
}
.mainslide.carousel img {
	position: absolute;
	top: 0;
	left: 0;
	min-width: 100%;
	height: 485px;
}
.mainslide .carousel-indicators {
	bottom: 2px;
}
.mainslide .carousel-indicators li {
	border-radius: 0
}
#searchForm {
	position: absolute;
	top: 5%;
	left: 4%;
}
.panel-login {
	border-color: #ccc;
	-webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
	box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
}
.panel-login>.panel-heading {
	color: #37474f;
	background-color: #fff;
	border-color: #fff;
	text-align: center;
}
.panel-login>.panel-heading a {
	text-decoration: none;
	color: #fff;
	font-size: 15px;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	transition: all 0.1s linear;
}
.panel-login>.panel-heading a.active {
	color: #9ee602;
	font-weight: 600;
}
.panel-login>.panel-heading hr {
	margin-top: 10px;
	margin-bottom: 0px;
	clear: both;
	border: 0;
	height: 1px;
	background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 0), rgb(255, 255, 255), rgba(255, 255, 255, 0));
	background-image: -moz-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,0), rgba(255,255,255,0));
	background-image: -ms-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,0), rgba(255,255,255,0));
	background-image: -o-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,0), rgba(255,255,255,0));
}
hr.btn-top-border {
	margin-top: 5px;
	margin-bottom: 10px;
	clear: both;
	border: 0;
	height: 1px;
	background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 0), rgb(255, 255, 255), rgba(255, 255, 255, 0));
	background-image: -moz-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,0), rgba(255,255,255,0));
	background-image: -ms-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,0), rgba(255,255,255,0));
	background-image: -o-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,0), rgba(255,255,255,0));
}
.panel-login input[type="text"], .panel-login input[type="email"], .panel-login input[type="password"] {
	height: 45px;
	border: 1px solid #ddd;
	font-size: 16px;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	transition: all 0.1s linear;
}
.panel-login input:hover, .panel-login input:focus {
	outline: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	border-color: #ccc;
}
.btn-login {
	background-color: #fff;
	outline: none;
	color: #000;
	font-size: 14px;
	height: auto;
	font-weight: normal;
	padding: 10px 0;
	text-transform: uppercase;
	border-color: #fff;
	border-radius: 0;
}
.btn-login:hover, .btn-login:focus {
	color: #fff;
	background-color: transparent;
	border-color: #fff;
}
.forgot-password {
	text-decoration: underline;
	color: #888;
}
.forgot-password:hover, .forgot-password:focus {
	text-decoration: underline;
	color: #666;
}
.btn-register {
	background-color: #fff;
	outline: none;
	color: #000;
	font-size: 14px;
	height: auto;
	font-weight: normal;
	padding: 10px 0;
	text-transform: uppercase;
	border-color: #fff;
	border-radius: 0;
}
.btn-register:hover, .btn-register:focus {
	color: #fff;
	background-color: transparent;
	border-color: #fff;
}
#login-form .form-group, #register-form .form-group {
	margin-bottom: 10px;
}
#login-form .has-feedback-left .form-control.input-xlg, #register-form .has-feedback-left .form-control.input-xlg {
	padding-left: 38px;
	height: auto;
	font-size: 13px;
	background: transparent;
	border-radius: 0;
	color: #fff;
	border: 1px solid #968989;
}
#login-form .input-xlg + .form-control-feedback, #login-form .form-group-xlg > .form-control-feedback {
	height: 38px;
	line-height: 38px;
	width: 38px;
	color: #fff;
}
#register-form .input-xlg + .form-control-feedback, #register-form .form-group-xlg > .form-control-feedback {
	height: 38px;
	line-height: 38px;
	width: 38px;
	color: #fff;
}
#searchForm .panel-body {
	padding: 5px 20px;
}
.stock-img img {
	width: 100%
}
.landing-tab li {
	float: left;
}
.landing-tab li.active > a:after, .landing-tab > li.active > a:hover:after, .landing-tab > li.active > a:focus:after {
	content: '';
	position: absolute;
	top: -1px;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: #2196F3;
	height: 2px;
}
#searchForm .panel, #searchForm .panel-login>.panel-heading {
	background: rgba(0, 0, 0, 0.7);
	border: 0;
}
#searchForm .panel-login>.panel-heading {
	background: transparent;
}
.cutomizemodal .customsize input {
	border-bottom: 1px solid #B0B0B0;
}
.itemimage {
	text-align: center;
	margin: 0 auto;
	border: 1px solid #ddd;
}
.itemimage img {
	width: 125px;
	max-width: 100%;
}
.profile-list-title {
	margin-top: 15px;
}
.profile-list-title a {
	font-size: 20px;
	color: #333;
}
.profile-list-title a:hover {
	color: #273246;
}
.comment-icon {
	margin-right: 10px;
	background: #d8d8d8;
	padding: 8px 10px;
	line-height: 20px;
}
.comment-icon:hover {
	color: #273246;
	opacity: 1 !important;
}
.badge-count .badge {
	position: absolute;
	top: -10px;
	right: 2px;
	background: #273246;
	border-color: #273246;
}
.setchatheight {
	overflow-y: auto;
	border-radius: 0;
}
.commentmodal .modal-body {
	padding: 15px 15px 15px 15px;
}
.commentmodal .panel-heading {
	padding: 10px;
	;
}
.commentmodal .panel-body {
	padding: 15px 15px 15px 15px;
}
.commentmodal .modal-footer {
	padding: 0px 15px 10px 15px;
}
.comment-input {
	resize: none;
}
.tags {
	width: 100%;
	float: left;
	padding: 10px 5px;
	text-align: center;
	border: 1px solid #273246!important;
	color: #fff;
	background: #273246;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	min-height: 42px;
	display: block;
}
.tags:hover {
	background: #fff;
	color: #273246;
}
.profile-carousel {
	margin: 10px auto;
	width: calc(100% - 20px);
}
.profile-carousel .carousel-control.left {
	left: 0;
}
.profile-carousel .carousel-control.right {
	top: 0px;
	right: 0px;
}
.profile-carousel .carousel-inner > .item {
	float: left;
	width: 100%;
}
.profilelist-count {
	margin: 0;
	float: left;
	width: 100%;
	text-align: center;
	background: #273246;
	color: #fff;
	padding: 2px;
	border: 1px solid #273246;
}
.centered {
	text-align: center;
}
.image-comment {
	background: #fff !important;
	border: 1px solid #ddd!important;
}
.image-comment img {
	height: 100px;
}
.setcomment {
	background: #eee;
	padding: 10px;
}
.custom-full-modal .modal-content {
	border-radius: 0;
	height: 100%;
}
.dragico {
	font-size: 35px;
	margin-right: 10px;
}
.dropzone .dz-default.dz-message:before {
	display: none;
}
.popupDz {
	min-height: 510px;
}
.popupDz.dropzone .dz-default.dz-message > span {
	margin-top: 45px;
	font-weight: normal;
}
.dzbox {
	border: 1px solid #ddd;
	padding: 10px;
	width: 585px;
	margin: 0 auto;
}
.tab-action {
	float: left;
	width: 100%;
	    margin-bottom: 10px;
}
.tab-action .tab-edit {
	background: #273246;
	text-align: center;
	padding: 4px 10px;
	color: #fff;
	float: right;
	line-height: 20px;
	border-radius: 4px;
}
.tab-action .tab-save {
	background: #F44336;
	text-align: center;
	margin-right: 5px;
	padding: 4px 10px;
	color: #fff;
	float: right;
	line-height: 20px;
	border-radius: 4px;
}
.tab-action i {
	color: #fff;
	margin-right: 2px;
	font-size: 12px;
}
.addRegion {
	vertical-align: middle;
	display: table-cell;
	text-align: center;
	font-size: 18px;
	color: #273246;
}
.addRegion i {
	font-size: 28px;
	margin-right: 10px;
}
.addRegion:hover {
}
.regionbtn {
	display: table;
	width: 100%;
}
.region-style .bootstrap-tagsinput {
	border: 1px solid #ddd;
	padding: 0 5px;
}
.popuptoken .tokenfield {
	margin: 25px 0 0 0;
	border: 1px solid #ddd;
	padding: 5px;
}
.blockdisplay {
	display: block
}
.collection-box {
	float: left;
	width: 100%;
	margin-bottom: 20px;
	border: 1px solid #eee;
	border-radius: 5px;
	overflow: hidden;
}
.collname {
	float: left;
	width: 100%;
	padding: 5px 10px;
	background: #f1f4fb;
	margin-bottom: 6px;
}
.collname a {
	float: left;
	width: 100%;
	font-size: 18px;
	color: #273246;
}
.collname span {
	float: left;
	width: 100%;
	color: #273246;
}
.collimg {
	float: left;
	width: 100%;
	padding: 5px;
}
.collthumb {
	border: 1px solid #eee;
	padding: 5px;
	margin-bottom: 10px;
	border-radius: 3px;
	text-align: center;
}
.collthumb img {
	width: 100%;
}
.userlist {
	list-style: none;
	padding: 0;
	float: right;
	margin: 5px 0;
}
.userlist li {
	display: inline-block;
	border-radius: 100%;
	border: 1px solid #ddd;
	padding: 2px;
}
.userlist li img {
	width: 30px;
	max-width: 100%;
	border-radius: 100%;
}
.colldesc {
	float: left;
	width: 100%;
	background: #f1f4fb;
	padding: 5px;
	box-sizing: border-box;
}
.collcount {
	float: left;
	margin: 11px 0;
	font-size: 14px;
	width: 100%;
	color: #000;
}
.collection-box-inner {
	float: left;
	width: 100%;
	padding: 0 10px;
	background: #fff;
	border-radius: 0px;
	border-bottom: 0;
}
.padd5 {
	padding-left: 5px;
	padding-right: 5px;
}
.colluser {
	float: left;
	width: 100%;
}
.colluser li {
	margin-bottom: 5px;
}
.colluser li img {
	width: 47px;
}
.image-checkbox {
	cursor: pointer;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	margin-bottom: 0;
	outline: 0;
}
.image-checkbox input[type="checkbox"] {
	display: none;
}
.image-checkbox-checked .thumbnail, .image-radio-checked .thumbnail {
	border: 2px solid #273246!important;
}
.image-checkbox .fa {
	position: absolute;
	color: #fff;
	background-color: rgba(39, 50, 70, 0.6);
	padding: 5px;
	top: 2px;
	right: 4px;
	font-size: 12px;
}
.image-checkbox-checked .fa {
	display: block !important;
}
.prod-list .thumbnail {
	border: 0;
	margin: 0;
}
.prod-list {
	margin-bottom:0px !important;
}
.popupshape .prod-list {
	margin-bottom: 5px !important;
}
.image-radio {
	cursor: pointer;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	margin-bottom: 0;
	outline: 0;
}
.image-radio input[type="radio"] {
	display: none;
}
.image-radio .fa {
	position: absolute;
	color: #fff;
	background-color: rgba(39, 50, 70, 0.6);
	padding: 5px;
	top: 2px;
	right: 4px;
	font-size: 12px;
}
.image-radio-checked .fa {
	display: block !important;
}
.addpattern {
	text-align: center;
	padding: 2px 8px;
	border: 1px solid #273246!important;
	color: #ffffff;
	float: left;
	font-size: 13px;
	background: #273246;
	border-radius: 3px;
}
.addpattern:hover, .addpattern:active, .addpattern:focus {
	color: #fff;
}
.addpattern i {
	font-size: 12px;
	color: #fff;
}
.addpatternicon {
	padding: 32px 0;
}
.accordionheight {
	max-height: 265px;
	overflow-y: auto;
}
.accordionheight .thumbnail {
	margin-bottom: 5px;
}
.prod-edit {
	padding: 3px;
	height: 30px;
	width: 30px;
}
.prod-remove {
	padding: 3px;
	height: 30px;
	width: 30px;
}
.slectedtitle {
	margin: 0;
	background: #eeeded;
	padding: 6px 10px;
	text-align: center;
	font-size: 16px;
	color: #273246;
	float: left;
	width: 100%;
	border-top: 1px solid #ddd;
}
.slectedtitle label {
	float: right;
	line-height: 25px;
}
.slectedtitle .checker {
	top: 3px;
}
.colldesc-label {
	float: left;
	width: 100%;
	color: #273246;
	font-size: 13px;
	margin-bottom: 4px;
	;
}
.colldesc-label i {
}
.colldate {
	float: right;
	margin: 0;
	color: #273246;
	font-size: 12px;
	line-height: 18px;
}
.colldate i {
	font-size: 12px;
}
.padd10 {
	padding: 10px !important;
}
.comment-modal {
	height: 100%;
	float: left;
	width: 300px;
	background: #fff;
	position: relative;
	z-index: 99;
	padding: 0 0 0 5px;
}
.comment-list {
	padding-left: 0;
	list-style: none;
	margin: 0;
	overflow-y: auto;
	    padding: 5px;
}
.comment-media {
	margin-top: 10px;
	position: relative;
}
.comment-media-left {
	padding-right: 8px;
	display: table-cell;
	vertical-align: top;
	position: relative;
}
.comment-media-left img {
	width: 30px!important;
	height: 30px!important;
}
.comment-media-body {
	position: relative;
	display: table-cell;
	vertical-align: top;
	width: 100%;
}
.comment-media-heading {
	margin-bottom: 2px;
	display: block;
	font-size: 14px;
}
.comment-media-content {
	position: relative;
	padding: 4px 8px;
	width: 98%;
	border-radius: 3px;
	display: inline-block;
	background-color: #f5f5f5;
	border-color: #f5f5f5;
}
.comment-media-heading {
	margin-bottom: 2px;
	display: block;
	margin: 0;
}
.action-div {
	position: relative;
}
.comment-close {
	position: absolute;
	right: -10px;
	top: -10px;
	width: 20px;
	height: 20px;
	text-align: center;
	z-index: 990;
	background: #273246;
	color: #fff;
	border-radius: 15px;
	font-size: 12px;
	padding: 1px;
}
.comment-close:hover, .comment-close:active, .comment-close:focus {
	color: #fff;
}
.sent-action {
	float: left;
	width: 100%;
	background: #eeeded;
	padding: 5px;
}
.something1 {
	position: relative;
	display: block;
	float: left;
	width: 100%;
}
.comment-media-content:before {
	border-top: 5px solid transparent;
	border-right: 5px solid;
	border-right-color: inherit;
	border-bottom: 5px solid transparent;
	content: '';
	left: -5px;
	top: 10px;
	position: absolute;
	margin-left: 0;
}
.comment-media-annotation {
	color: #999999;
	font-size: 12px;
	line-height: 1.6666667;
	font-weight: 400;
}
.vertical-divider {
	position: absolute;
	z-index: 10;
	top: 50%;
	right: 33%;
	margin: 0;
	padding: 0;
	width: auto;
	height: 50%;
	line-height: 0;
	text-align: center;
	text-transform: uppercase;
	transform: translateX(-50%);
}
.vertical-divider:before, .vertical-divider:after {
	position: absolute;
	left: 50%;
	content: '';
	z-index: 9;
	border-left: 1px solid rgba(34,36,38,.15);
	border-right: 1px solid rgba(255,255,255,.1);
	width: 0;
	height: calc(100% - 1rem);
}
.row-divided > .vertical-divider {
	height: calc(50% - 1rem);
}
.vertical-divider:before {
	top: -100%;
}
.vertical-divider:after {
	top: auto;
	bottom: 0;
}
.row-divided {
	position: relative;
}
.selectimg {
	margin:0 0 10px 0;
}
.selectimg p {
	text-align: center;
	font-size: 17px;
}
.selectimg .file-input {
}
.patternmodal .dz-default.dz-message span {
	margin-top: 74px;
}
.col-one {
	float: left;
	width: 100%;
}
.col-two {
	float: left;
	width: 100%;
}
.textModal .form-group{margin-bottom:20px !important;}

.popbox {
	position: relative;
}
.collapse {
	position: relative;
}
.opener {
	position: absolute;
    top: 5px;
    right: 5px;
    font-size: 16px;
    color: #fff;
    background: rgba(0, 0, 0, 0.17);
    width: 25px;
    border-radius: 100%;
    height: 25px;
    text-align: center;
    padding: 1px 0;
    z-index: 9;
}
.box {
	display: block;
	display: none;
	background: #FFF;
	border: solid 1px #BBBBBB;
	box-shadow: 0px 0px 15px #999;
	position: absolute;
	z-index: 999;
	right: 0;
}
.box a.close {
	color: red;
	font-size: 12px;
	font-family: arial;
	text-decoration: underline;
}
.arrow {
	width: 0;
	height: 0;
	border-left: 11px solid transparent;
	border-right: 11px solid transparent;
	border-bottom: 11px solid #FFF;
	position: absolute;
	right: 6px;
	top: -10px;
	z-index: 1001;
}
.arrow-border {
	width: 0;
	height: 0;
	border-left: 11px solid transparent;
	border-right: 11px solid transparent;
	border-bottom: 11px solid #BBBBBB;
	position: absolute;
	top: -12px;
	right: 6px;
	z-index: 1000;
}
.comment-only{    width: 100%;
    max-width: 300px;}
#scroll-style::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

#scroll-style::-webkit-scrollbar
{
	width: 5px;
	background-color: #F5F5F5;
}

#scroll-style::-webkit-scrollbar-thumb
{
	background-color: #aaa;
}
.activitycommentheight{ height:300px; overflow-y: scroll;}
.view-text{text-align:center;font-size:18px;border:1px dashed #ddd;width:100%;}
/* RESPONSIVE CSS
-------------------------------------------------- */
@media (max-width: 768px) {
.mainslide.carousel-inner>.item>img, .carousel-inner>.item>a>img {
	max-width: inherit;
}
.mainslide.carousel-caption p {
	margin-bottom: 20px;
	font-size: 21px;
	line-height: 1.4;
}
#login-form .form-group, #register-form .form-group {
	margin-bottom: 7px;
}
.stock-img {
	text-align: center;
}
.stock-img img {
	width: 300px;
}
.hide-acc {
	display: inline-block;
	margin-left: 6px;
}
#photo .pic-box {
	width: 122px;
}
.breadcrumb-line {
	display: none;
}
.sep10 {
	margin-bottom: 10px;
}
.custom-full-modal {
	overflow-y: auto;
}
.search-box {
	float: none;
	width: calc(100% - 15px);
	margin: 15px auto;
}
.navbar-collapse .navbar-nav > li > a {
	padding: 13px 15px;
}
.page-header-content {
	z-index: 999;
}
.cutsomthumb .panel-heading .visible-elements {
	background: transparent;
}
.cutomizemodal div.heading-btn {
	margin-top: 0 !important;
	float: left;
}
.cutomizemodal {
	float: left;
	width: 100%;
	margin: 16px 0px !important;
	background: #eee !important;
	padding: 8px;
}
.item-box-price {
	text-align: left;
}
.landing-tab > li {
	width: 20%;
	text-align: center;
}
.landing-tab > li > a > span {
	display: none;
}
.landing-tab > li > a {
	padding: 5px 5px;
}
.pic-box {
	float: none !important;
	width: 155px;
	margin: 0 auto 20px;
}
}

@media (min-width: 769px) {
.newsidebar.sidebar {
	width: auto;
}
}

@media (max-width:550px) {
.custom-action {
	float: left;
	width: 100%;
	margin: 0px;
}
.cutomizemodal .customsize {
	width: 65px;
	margin-right: 10px;
}
.cutomizemodal .cprice {
	font-size: 15px;
}
.dataTables_filter > label > span {
	display: none;
}
}

@media only screen and (min-width:320px) and (max-width:480px) {
.collthumb {
	width: 46%;
	float: left;
	margin: 5px;
}
}

@media only screen and (min-width:481px) and (max-width:767px) {
.collthumb {
	width: 30%;
	float: left;
	margin: 5px;
}
}
