.webgl-view {
  .transform-controls {
    position: absolute;
    transition: none;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: none;
    z-index: 1000;
    .info-action {
      position: absolute;
      right: 0;
      bottom: 0;
      padding: 25px;
      text-align: right;
      color: red;
    }
    &.active {
      display: block;
      & * {
        transition: 0.01s linear;
      }
    }
    h1[data-action="close"] {
      text-align: left;
      padding: 10px;
      cursor: pointer;
      width: 180px;
    }
    .main-transf {
      position: absolute;
      left: 50%;
      top: 50%;
      width: 50%;
      height: 50%;
      transform: translate(-50%, -50%);

      &.active {
        border-color: rgba(0, 0, 0, 0);
      }
      .trnf-translate {
        cursor: move;
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        border: 1px solid black;
      }
      .trnf-scale {
        .border-scale {
          width: 10px;
          height: 10px;
          background: white;
          border: 1px solid black;
          position: absolute;
          &[data-action="left-middle-scale"] {
            cursor: ew-resize;
            top: 50%;
            transform: translate(-50%, -50%);
          }
          &[data-action="right-middle-scale"] {
            cursor: ew-resize;
            top: 50%;
            right: 0;
            transform: translate(50%, -50%);
          }
          &[data-action="top-middle-scale"] {
            cursor: row-resize;
            top: 0;
            left: 50%;
            transform: translate(-50%, -50%);
          }
          &[data-action="bottom-middle-scale"] {
            cursor: row-resize;
            bottom: 0;
            left: 50%;
            transform: translate(-50%, 50%);
          }
          &[data-action="left-bottom-scale"] {
            cursor: nesw-resize;
            bottom: 0;
            transform: translate(-50%, 50%);
          }
          &[data-action="left-top-scale"] {
            cursor: nwse-resize;
            top: 0;
            transform: translate(-50%, -50%);
          }

          &[data-action="right-bottom-scale"] {
            cursor: nwse-resize;
            right: 0;
            bottom: 0;
            transform: translate(50%, 50%);
          }
          &[data-action="right-top-scale"] {
            cursor: nesw-resize;
            right: 0;
            top: 0;
            transform: translate(50%, -50%);
          }
        }
      }
      .trnf-rotate {
        div {
          position: absolute !important;
          background-image: url('https://maxcdn.icons8.com/Android_L/PNG/512/Editing/rotate-512.png');
          background-position: center;
          background-repeat: no-repeat;
          background-size: 70%;
          width: 50px;
          height: 50px;
          border-radius: 50%;
          background-color: gray;
          cursor: move;
          &:hover {
            background-color: #ffffff;
          }
          &.z-rotate {
            left: 50%;
            top: 0 !important;
            transform: translate(-50%, calc(-100% - 10px));
          }
          &.x-rotate {
            left: 100% !important;
            top: 50%;
            transform: translate(calc(-100% + 60px), -50%);
          }
          &.y-rotate {
            left: 50%;
            bottom: 0;
            top: inherit !important;
            transform: translate(-50%, 60px);
          }
        }

      }
      .trnf-move {
        div {
          position: absolute !important;
          background-image: url('https://d30y9cdsu7xlg0.cloudfront.net/png/2862-200.png');
          background-position: center;
          background-repeat: no-repeat;
          background-size: 70%;
          width: 50px;
          height: 50px;
          border-radius: 50%;
          background-color: gray;
          cursor: move;
          &.z-move {
            left: 0 !important;
            top: 50%;
            transform: translate(calc(-100% - 10px), -50%);
          }
        }

      }
    }
  }
}