.webgl-view
  .THREEJS
    position: absolute
    left: 0
    top: 0
    width: 100%
    height: 100%
    .hidden
      visibility: hidden
    .render-container
      .info
        position: absolute
        z-index: 1
        top: 60px
        text-shadow: 0 0 3px #000000, 0 0 5px #000000
        color: white
      .render-btn
        position: absolute
        right: 10px
        bottom: 60px
        z-index: 2
        border-radius: 50%
        border: 1px solid white
        -webkit-box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.3)
        -moz-box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.3)
        box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.3)
        background: orange
        padding: 10px
        color: white
        font-weight: 900
        font-size: 28px
        width: 60px
      img
        position: absolute
        top: 0
        left: 50%
        transform: translateX(-50%)
        height: 100%
        &.back-ground
          z-index: -1
        &.front-ground
          display: none
          z-index: 1
          &.active
            display: block


