<div class="webgl-view"  #renderParent>
    <app-project-preloader #preloader [_parent]="_self"></app-project-preloader>
    <div class="center-container THREEJS" #projCnt>
        <canvas #canvasTarget [ngClass]="{'hidden':isRender}"></canvas>
    </div>
</div>
