<div class="container-fluid main">
  <div class="row">
    <div class="col-md-8 mainCol" style="padding-right: 0;height: 90vh;">
      <h2 style="text-transform: uppercase;">{{selectedModel.name | limitTo: 5}}</h2>
      <div class="col-md-12" id="scene" style="border: 1px solid;padding-left: 0;padding-right: 0;"  >
        <app-project-webgl-view *ngIf="options" [options]="options" #webglView></app-project-webgl-view>
        <div class="row" style="position: absolute;width: 100%;margin-top: 1vh;pointer-events: none;">
          <div class="col-md-4">
            <h5 style="margin-left: 15px;"><strong>Product Details</strong></h5>
          </div>
          <div class="col-md-8 upperMenu">
            <div class="productCtrl">
              <button type="button" class="btn btn-warning product" style="pointer-events: auto;height: 34px;"
                        (click)="roomModal.toggleModal()" >Product Shot</button>
            </div>
            <div class="productCtrl">
              <select style="width: 100%;;border: 2px solid;pointer-events: auto;" class="form-control" id="material"
                      (ngModelChange)="reloadModel($event)" [ngModel]="selectedModel">
                <option *ngFor="let model of models; let modelIndex = index;" [ngValue]="model">
                  {{modelIndex}}
                </option>
              </select>
            </div>
            <div class="productCtrl productSelect">
              <select style="width: 100%; height: 34px;pointer-events: auto;border: 2px solid;" class="form-control" id="size"
                      (ngModelChange)="changeModelPart($event)" [ngModel]="selectedPart">
                <option *ngFor="let part of parts[0].parts; let partIndex = index;" [ngValue]="part">
                  {{partIndex}}
                </option>
              </select>
              <span class="glyphicon glyphicon-fullscreen"  (click)="webglView.app._events.toggleFullscreen()"></span>
            </div>
          </div>
        </div>
        <div class="row" style="position: absolute;width: 100%;top: 90%;pointer-events: none;">
          <div class="col-md-5">
            <button type="button" class="btn btn-secondary saveBtn">Save Style</button>
          </div>
          <div class="col-md-7 cardCtrl">
            <div class="cardUnit">
              <h3 style="font-weight: 500;margin: auto;">$17.00 X</h3>
            </div>
            <div class="cardUnit">
              <span class="cardUnitSpan">100</span>
            </div>
            <div class="cardUnit" style="flex: 2;pointer-events: auto;">
              <div class="dropdown">
                <button class="btn btn-default dropdown-toggle addBtn" type="button" id="dropdownMenu1" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="true">Add to Cart<span class="caret"></span>
                </button>
                <ul class="dropdown-menu dropdown-menu-right" style="width: 150%;border: 1px solid;" aria-labelledby="dropdownMenu1">
                  <h6 class="dropdown-header">Add to Orders</h6>
                  <li role="separator" class="divider"></li>
                  <li>
                    <a href="#" style="display: flex;justify-content: space-around;border-bottom: 1px solid;border-top: 1px solid;">
                      <h5>Order # 1</h5>
                      <h5>4 items</h5>
                    </a>
                  </li>
                  <li>
                    <a href="#" style="display: flex;justify-content: space-around;border-bottom: 1px solid;">
                      <h5>Order # 2</h5>
                      <h5>4 items</h5>
                    </a>
                  </li>
                  <li>
                    <a href="#" style="display: flex;justify-content: space-around;">
                      <h5>Order # 3</h5>
                      <h5>4 items</h5>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>


    <div class="col-md-4 mainCol" id="myGroup" #myGroup style="height: 90vh;border-left: none;">


      <div class="tab-content">
          <div class="row mainRow">
            <ngb-accordion [closeOthers]="true" #acc="ngbAccordion" *ngIf="mainModel">
              <div *ngFor="let item of mainModel.children; let i = index;" >
                <ngb-panel *ngIf="item.type == 'Mesh'" id="{{'acc-row-' + i}}">

                  <ng-template ngbPanelTitle>
                    <div class="title" (click)="curModel = item">
                      <h4 style="padding-left: 15px;">{{item.name}}</h4>
                      <span style="padding-right: 15px;" class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    </div>
                  </ng-template>

                  <ng-template ngbPanelContent>


                    <ul class="nav nav-tabs">
                      <li  [ngClass]="{'active':!isDecortn}" ><a data-toggle="tab" href="#" (click)="isDecortn = false">Materials</a></li>
                      <li  [ngClass]="{'active':isDecortn}" ><a data-toggle="tab" href="#"(click)="isDecortn = true">Decorations</a></li>
                    </ul>

                    <div id="meshMaterials" class="tab-pane fade " [ngClass]="{'active in':!isDecortn}"  >

                      <div class="row" style="margin-top: 1vh;">
                        <div class="col-md-5">

                          <div id="imaginary_container0">
                            <div class="input-group stylish-input-group">
                              <input type="text" class="form-control" [(ngModel)]="seachWord" (ngModelChange)="onFindMaterialByName()"
                                     placeholder="Search">
                          <span class="input-group-addon">
                            <i class="fa fa-search" aria-hidden="true"></i>
                          </span>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-5">
                          <select style=" border: 1px solid;" class="form-control"
                                  (change)="filter($event,CONFIG.MODELS.TYPES.MATERIAL)" [(ngModel)]="selectedMatCat">
                            <option *ngFor="let matCategory of matCategories" [ngValue]="matCategory">
                              {{matCategory}}
                            </option>
                          </select>
                        </div>
                      </div>


                      <ul id="thumbnailsList" >
                        <li *ngFor="let image of curMats | paginate: { itemsPerPage: 10, currentPage: currentPage }; let ind = index;" class="items">
                          <img [default]="CONFIG.FACTOR.MATERIALS  + image.Thumbnail" [src]="CONFIG.MODELS.URL.MAIN +CONFIG.TEXTURE_STORAGE  + image.Thumbnail" crossorigin="" class="tn" (click)="changeMaterial(image, i,imgTarget)">
                          <h4 class="card-title">{{image["Material Name"]}}</h4>
                        </li>
                      </ul>
                      <pagination-controls (pageChange)="currentPage = $event"></pagination-controls>

                    </div>

                    <div id="decoratioins" class="tab-pane fade" [ngClass]="{'active in':isDecortn}" *ngIf="mainModel.children && mainModel.children.length">
                      <decor-control [_parent]="parent" ></decor-control>
                    </div>
                  </ng-template>

                </ngb-panel>
              </div>
            </ngb-accordion>
          </div>

      </div>

    </div>
  </div>
</div>

<app-room  #roomModal [_parent]="parent"></app-room>
