.main {
    margin-top: 1vh;
    margin-right: 4vw;
    margin-left: 4vw;
}

.mainCol {
    border: 1px solid;
}

.mainRow {
    height: 40px;
}

.startRow {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
}

.endRow {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
}

#scene {
    width: 100%;
    height: 70vh;
}

.in {
    height: 25vh !important;
}

.cssload-thecube {
    width: 73px;
    height: 73px;
    margin: 0 auto;
    margin-top: 49px;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 9999;
    transform: rotateZ(45deg) translate(-50%, -50%);;
    -o-transform: rotateZ(45deg) translate(-50%, -50%);;
    -ms-transform: rotateZ(45deg) translate(-50%, -50%);;
    -webkit-transform: rotateZ(45deg) translate(-50%, -50%);;
    -moz-transform: rotateZ(45deg) translate(-50%, -50%);;
}

.cssload-thecube .cssload-cube {
    position: relative;
    transform: rotateZ(45deg);
    -o-transform: rotateZ(45deg);
    -ms-transform: rotateZ(45deg);
    -webkit-transform: rotateZ(45deg);
    -moz-transform: rotateZ(45deg);
}

.cssload-thecube .cssload-cube {
    float: left;
    width: 50%;
    height: 50%;
    position: relative;
    transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
}

.cssload-thecube .cssload-cube:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    animation: cssload-fold-thecube 2.76s infinite linear both;
    -o-animation: cssload-fold-thecube 2.76s infinite linear both;
    -ms-animation: cssload-fold-thecube 2.76s infinite linear both;
    -webkit-animation: cssload-fold-thecube 2.76s infinite linear both;
    -moz-animation: cssload-fold-thecube 2.76s infinite linear both;
    transform-origin: 100% 100%;
    -o-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    -webkit-transform-origin: 100% 100%;
    -moz-transform-origin: 100% 100%;
}

.cssload-thecube .cssload-c2 {
    transform: scale(1.1) rotateZ(90deg);
    -o-transform: scale(1.1) rotateZ(90deg);
    -ms-transform: scale(1.1) rotateZ(90deg);
    -webkit-transform: scale(1.1) rotateZ(90deg);
    -moz-transform: scale(1.1) rotateZ(90deg);
}

.cssload-thecube .cssload-c3 {
    transform: scale(1.1) rotateZ(180deg);
    -o-transform: scale(1.1) rotateZ(180deg);
    -ms-transform: scale(1.1) rotateZ(180deg);
    -webkit-transform: scale(1.1) rotateZ(180deg);
    -moz-transform: scale(1.1) rotateZ(180deg);
}

.cssload-thecube .cssload-c4 {
    transform: scale(1.1) rotateZ(270deg);
    -o-transform: scale(1.1) rotateZ(270deg);
    -ms-transform: scale(1.1) rotateZ(270deg);
    -webkit-transform: scale(1.1) rotateZ(270deg);
    -moz-transform: scale(1.1) rotateZ(270deg);
}

.cssload-thecube .cssload-c2:before {
    animation-delay: 0.35s;
    -o-animation-delay: 0.35s;
    -ms-animation-delay: 0.35s;
    -webkit-animation-delay: 0.35s;
    -moz-animation-delay: 0.35s;
}

.cssload-thecube .cssload-c3:before {
    animation-delay: 0.69s;
    -o-animation-delay: 0.69s;
    -ms-animation-delay: 0.69s;
    -webkit-animation-delay: 0.69s;
    -moz-animation-delay: 0.69s;
}

.cssload-thecube .cssload-c4:before {
    animation-delay: 1.04s;
    -o-animation-delay: 1.04s;
    -ms-animation-delay: 1.04s;
    -webkit-animation-delay: 1.04s;
    -moz-animation-delay: 1.04s;
}

@keyframes cssload-fold-thecube {
    0%, 10% {
        transform: perspective(136px) rotateX(-180deg);
        opacity: 0;
    }
    25%,
    75% {
        transform: perspective(136px) rotateX(0deg);
        opacity: 1;
    }
    90%,
    100% {
        transform: perspective(136px) rotateY(180deg);
        opacity: 0;
    }
}

@-o-keyframes cssload-fold-thecube {
    0%, 10% {
        -o-transform: perspective(136px) rotateX(-180deg);
        opacity: 0;
    }
    25%,
    75% {
        -o-transform: perspective(136px) rotateX(0deg);
        opacity: 1;
    }
    90%,
    100% {
        -o-transform: perspective(136px) rotateY(180deg);
        opacity: 0;
    }
}

@-ms-keyframes cssload-fold-thecube {
    0%, 10% {
        -ms-transform: perspective(136px) rotateX(-180deg);
        opacity: 0;
    }
    25%,
    75% {
        -ms-transform: perspective(136px) rotateX(0deg);
        opacity: 1;
    }
    90%,
    100% {
        -ms-transform: perspective(136px) rotateY(180deg);
        opacity: 0;
    }
}

@-webkit-keyframes cssload-fold-thecube {
    0%, 10% {
        -webkit-transform: perspective(136px) rotateX(-180deg);
        opacity: 0;
    }
    25%,
    75% {
        -webkit-transform: perspective(136px) rotateX(0deg);
        opacity: 1;
    }
    90%,
    100% {
        -webkit-transform: perspective(136px) rotateY(180deg);
        opacity: 0;
    }
}

@-moz-keyframes cssload-fold-thecube {
    0%, 10% {
        -moz-transform: perspective(136px) rotateX(-180deg);
        opacity: 0;
    }
    25%,
    75% {
        -moz-transform: perspective(136px) rotateX(0deg);
        opacity: 1;
    }
    90%,
    100% {
        -moz-transform: perspective(136px) rotateY(180deg);
        opacity: 0;
    }
}

.ngx-pagination {
    margin: auto !important;
    padding: 0 !important;
}

.productCtrl {
    width: 32%;
    height: 33px;
    align-self: baseline;
}

.product {
    background-color: #FFA35F;
    background-image: none;
    width: 100%;
    color: black;
    border: 1px solid;
}

.glyphicon-fullscreen {
    font-size: xx-large;
    opacity: 0.7;
    margin-top: 2vh;
    pointer-events: auto;
}

.glyphicon-fullscreen:hover {
    cursor: pointer;
    opacity: 1;
}

.saveBtn {
    margin-left: 1vw;
    width: 50%;
    background-color: white;
    background-image: none;
    font-size: large;
    border: 1px solid;
    height: 45px;
    pointer-events: auto;
    border-color: black;
    color: black;
}

.addBtn {
    width: 100%;
    background-color: black;
    background-image: none;
    color: white;
    border: none;
    height: 100%;
    font-weight: 100;
    font-size: initial;
}

.cardCtrl {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 45px;
}

.cardUnit {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex: 1;
}

.btn-default.active, .btn-default:active, .open > .dropdown-toggle.btn-default {
    color: white;
    background-color: black;
}

.stylish-input-group .input-group-addon {
    background: white !important;
    border-color: black;
    pointer-events: none;
}

.stylish-input-group .form-control {
    border-right: 0;
    box-shadow: 0 0 0;
    border-color: black;
}

.stylish-input-group button {
    border: 0;
    background: transparent;
}

.result {
    font-weight: 600;
}

.upperMenu {
    display: flex;
    justify-content: space-around;
    padding-right: 0;
    align-items: center
}

.productSelect {
    display: flex;
    flex-direction: column;
    justify-content: initial;
    align-items: flex-end;
    height: inherit;
}

.cardUnitSpan {
    display: flex;
    align-items: center;
    width: 50px;
    justify-content: center;
    border: 1px solid;
    height: 30px;
    margin: auto;
    pointer-events: auto;
}

.dropdown {
    width: 100%;
    height: 45px;
}

.card-block {
    height: 36vh;
    overflow-x: hidden;
}

.title {
    width: 100%;
    height: 45px;
    display: flex;
    align-items: center;
    color: black;
    justify-content: space-between;
    border: 1px solid;
}

/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Modal Header */
.modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

/* Modal Body */
.modal-body {
    padding: 2px 16px;
}


/* Modal Footer */
.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    top: 25%;
    width: 50vw;
    height: 50vh;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {
        top: 0;
        opacity: 0
    }
    to {
        top: 25%;
        opacity: 1
    }
}

@keyframes animatetop {
    from {
        top: 0;
        opacity: 0
    }
    to {
        top: 25%;
        opacity: 1
    }
}

.roomBackground {
    width: 100%;
    height: 90%;
    max-height: 100%;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

ul {
    padding: 0;
    margin-top: 1vh;
}

li {
    display: inline;
}

.tn {
    margin: 2px 0;
    cursor: pointer;
    width: 8vw;
    height: 6vw;
}

#thumbnailsList {
    text-align: center;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
}

.items {
    display: inline-block;
    flex-grow: 1;
    width: 30%;
    margin-bottom: 15px;
}

.customRow {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.customItem {
    width: 33%;
    text-align: center;
    margin-top: 2vh;
    margin-bottom: 2vh;
}
