.tab-content
  padding: 10px
.tab-pane
  &.fade
    width: 95%
    margin: auto
    padding: 10px 0
    overflow-x: hidden
    height: 0
    transition: height 0.2s linear
    &.active.in
      height: 35vh!important