.webgl-view{
  .cntx-menu {
    position: absolute;
    z-index: 1;
    //transform: scale(0);
    display: none;
    width: 210px;
    height: auto;
    padding: 10px;
    background: white;
    transform-origin: left top;
    ul {
      margin: 0;
      list-style-type: none;
      padding: 0;
      border: 1px solid gray;
    }
    li {
      width: 100%;
      padding: 10px;
      margin: 0;
      text-overflow: ellipsis;
      overflow: hidden;
      font-size: 15px;

      color: gray;
      cursor: pointer;
      &:hover {
        color: black;
        border-bottom: 1px solid gray;
      }
    }
    &.active {
      //transform: scale(1);
      display: block;
    }
  }
}