.room-modal
  top: -100vh
  position: absolute
  width: 100%
  height: 0
  transform: translateY(-50%)
  transition: top, height, 0.4s cubic-bezier(0, -0.01, 0.48, 1.21)
  z-index: 99
  &.active
    top: 50%
    height: 100%
    .customBackground
      opacity: 0.3
  .customBackground
    width: 100%
    height: 100%
    position: absolute
    background-color: rgba(0, 0, 0, 1.0)
    z-index: 999
    opacity: 0
    transition: opacity, 0.5s cubic-bezier(0.95, -0.56, 1, 1)
    cursor: pointer
  .customModal
    display: flex
    flex-direction: column
    justify-content: flex-start
    align-items: flex-start
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    width: 50vw
    height: 50vh
    background-color: white
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
    z-index: 9999
    min-height: 410px
    .render-scene
      width: 100%
      height: 100%
      position: absolute
      left: 0
      top: 0
      img
        height: 100%
        margin: auto
        display: block
    .info
      position: absolute
      z-index: 1
      top: 60px
      text-shadow: 0 0 3px #000000, 0 0 5px #000000
      color: white
    h3
      position: absolute
      z-index: 1
      text-shadow: 0 0 3px #000000, 0 0 5px #000000
      color: white
      span
        color: grey
        cursor: pointer
        &:hover
          text-decoration: underline
          color: #000066
    .close
      right: 0
      position: absolute
      top: 0
      padding: 10px
      z-index: 3
    .modal-data
      padding: 15px
      width: 100%
      height: 100%
      border: 2px solid #000
      position: absolute
      left: 0
      top: 0
      background: #fff
      .render
        position: absolute
        right: 10px
        bottom: 10px
        z-index: 2
        border-radius: 50%
        border: 1px solid white
        -webkit-box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.3)
        -moz-box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.3)
        box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.3)
        background: orange
        padding: 10px
        color: white
        font-weight: 900
        font-size: 28px
        width: 60px
        outline: none
        &.render-btn
          right: 80px

      &.active
        z-index: 2
        display: block!important
  .list-of-scene
    overflow: auto
    position: absolute
    left: 0
    top: 70px
    width: 99%
    height: 79%
    .scene-preview
      margin: 15px
      width: 30%
      display: inline-block
      transition: box-shadow, 0.2s linear
      cursor: pointer
      img
        width: 100%
      &:hover
        -webkit-box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.3)
        -moz-box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.3)
        box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.3)

@-webkit-keyframes animatetop
  from
    top: -50%
    opacity: 0
  to
    top: 50%
    opacity: 1

@keyframes animatetop
  from
    top: -50%
    opacity: 0
  to
    top: 50%
    opacity: 1



