<div class="room-modal" [ngClass]="{'active':showModal}" #roomModal >
    <div class="customBackground" (click)="toggleModal()" #customBackground></div>
    <div class="customModal" #viewModal >
        <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="toggleModal()">
            <span aria-hidden="true">&times;</span>
        </button>

        <div *ngIf="curRoom">
            <div class="modal-data hidden"   [ngClass]="{'active':!renderRemote}">
                <h3>Select Position <span (click)="curRoom = null">back</span> </h3>
                <app-project-preset [options]="options" ></app-project-preset>
                <!--<app-project-webgl-view [options]="options" *ngIf="options" #webglView></app-project-webgl-view>-->
            </div>
            <div class="modal-data hidden" [ngClass]="{'active':renderRemote}">
                <h3>Render Preview <span (click)="renderRemote=false" *ngIf="canSave">, back</span><span  *ngIf="!canRender">, render is in progress, please wait</span></h3>
                <!--<button type="button" class="render" *ngIf="canRender" (click)="render()">R</button>-->
                <button type="button" class="render render-btn" (click)="save()" *ngIf="canSave">S</button>
                <div class="render-scene">
                    <img #renderTarget alt="Scene loading, please wait..." crossOrigin="*"  />
                </div>
            </div>
        </div>
        <div class="modal-data" *ngIf="!curRoom">
            <h3>Select a Room</h3>
            <div class="list-of-scene">
                <div class="scene-preview" *ngFor="let room of rooms" (click)="select(room)">
                    <img [src]="room.preview"/>
                </div>
            </div>
        </div>
    </div>
</div>
