<div class="preloader-template" #preloader [ngClass]="{'active':isActive}">
        <div class="cssload-thecube"  >
            <div class="cssload-cube cssload-c1"></div>
            <div class="cssload-cube cssload-c2"></div>
            <div class="cssload-cube cssload-c4"></div>
            <div class="cssload-cube cssload-c3"></div>
        </div>
        <canvas #preloaderStatus></canvas>
</div>
