/* You can add global styles to this file, and also import other style files */
color-picker{
  position: fixed;
  z-index: 999;
}
body {
  overflow: hidden!important;
}
.decor-set > .canvas-container {

  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("assets/images/ui/draganddrop.png");
}