<div class="decor">
    <div class="decor-set" #decorSet draggable="true" (drop)="ondragDropFile($event)" (dragover)="ondragDropFile($event)" >
        <!--<ul class="nav nav-tabs">-->
        <!--<li  class="active"><a data-toggle="tab" href="#decorCreate">Create</a></li>-->
        <!--<li><a data-toggle="tab" href="#decorPreview">Preview</a></li>-->
        <!--</ul>-->
        <!--<div id="decorCreate" class="tab-pane fade active in">-->

        <canvas #targetCanvas ></canvas>
        <div class="form-group">
            <label for="text-decor">Text:</label>
            <input type="text" class="form-control" [(ngModel)]="inputText" (change)="textHasChange()" id="text-decor">
        </div>
        <div class="fileinput fileinput-new" data-provides="fileinput">
            <input type="file" name="Choose file" value="Choose file" #fileUploader accept="image/*" (change)="uploadImg($event)"/>
            <button *ngIf="img" (click)="removeImg()">Remove Img</button>
        </div>
        <button *ngIf="controller._objects.length && !curEditDecor" (click)="add()">Create</button>
        <button *ngIf="controller._objects.length && curEditDecor" (click)="edit()">Edit</button>
        <button  *ngIf="curEditDecor" (click)="new()">New</button>
        <!--</div>-->
        <!--<div id="decorPreview" class="tab-pane fade"></div>-->
    </div>
    <div class="decor-list" *ngIf="_parent.webglView">
        <div  *ngFor="let decor of _parent.curModel.material.logos" (dragstart)="dragStart($event,decor)"(ondragend)="ondragend()" draggable="true" >
            <img [src]="decor.options.preview.src" (click)="select(decor)">
            <button   (click)="dropItem(decor)">Drop</button>
        </div>
    </div>
</div>