.decor
  width: 100%
  max-height: 80vh
  overflow: auto
  .decor-list
    display: flex
    width: 100%
    div
      display: inline
      width: 30%
      padding: 10px
      cursor: pointer
      &:hover
        img
          -webkit-box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.3)
          -moz-box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.3)
          box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.3)
      img
        width: 100%
  .decor-set
    width: 100%
    .canvas-container
      background-position: center
      background-size: contain
      background-repeat: no-repeat
      background-image: url(../../../assets/images/ui/draganddrop.png)
    canvas
        margin: auto
        border: 1px solid